*{
    padding: 0px;
    margin: 0px;
    background-color:#405D72
}

.main{
    display: flex;
    width: 100%;
}

.header{
    align-content: center;
    text-align: center;
    color: #F7E7DC;
    text-shadow: 2px 2px 2px #758694;
    font-size: 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
}


figcaption{
    color: #F7E7DC;
    text-align: center;
}

figure{
    padding: 10px;
}

img{
    box-shadow: 3px 2px 5px #F7E7DC;
    object-fit: cover;
    margin-top: 150px;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    border-radius: 50%;
}

.footer{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    position: fixed;
}

